In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:


temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/26228-syracuse-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



r= pd.DataFrame(temp)

In [29]:
r.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [30]:
r

,Name,University,Year,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergrad,Undergrad_score,...,12,13,14,15,16,17,18,19,20,21
0,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
1,Niparash,Syracuse University Management Information System,Fall 2018,Applied,GRE,304,TOEFL,98,UNDERGRAD,7.81 CGPA,...,None,None,None,None,None,None,None,None,None,None
2,mischief-managed,Syracuse University Management Information System,Fall 2015,Applied,GRE,311,TOEFL,111,UNDERGRAD,59.8 %,...,None,None,None,None,None,None,None,None,None,None
3,saiyogesh,Syracuse University Management Information System,Fall 2018,Applied,GRE,320,TOEFL,113,UNDERGRAD,7.9 CGPA,...,None,None,None,None,None,None,None,None,None,None
4,SatwikKashyap,Syracuse University Management Information System,Fall 2018,Applied,GRE,308,TOEFL,90,UNDERGRAD,8.16 CGPA,...,None,None,None,None,None,None,None,None,None,None
5,Nidhiss,Syracuse University Management Information System,Fall 2018,Applied,GRE,299,TOEFL,88,UNDERGRAD,83 %,...,None,None,None,None,None,None,None,None,None,None
6,neetipopat,Syracuse University Management Information System,Fall 2014,Applied,GRE,306,TOEFL,96,UNDERGRAD,62 %,...,None,None,None,None,None,None,None,None,None,None
7,ChaitanyaMag,Syracuse University Management Information System,Fall 2018,Applied,GRE,303,TOEFL,97,UNDERGRAD,7 CGPA,...,None,None,None,None,None,None,None,None,None,None
8,AsadM,Syracuse University Management Information System,Fall 2018,Applied,GRE,301,ENG TEST,NA,UNDERGRAD,65 %,...,None,None,None,None,None,None,None,None,None,None
9,Akhild17,Syracuse University Management Information System,Fall 2018,Applied,GRE,300,TOEFL,88,UNDERGRAD,60 %,...,None,None,None,None,None,None,None,None,None,None
10,Bhagyashri333,Syracuse University Management Information System,Fall 2018,Applied,GRE,303,TOEFL,87,UNDERGRAD,6.8 CGPA,...,None,None,None,None,None,None,None,None,None,None
11,Tanya13,Syracuse University Management Information System,Fall 2018,Applied,GRE,315,TOEFL,112,UNDERGRAD,8.24 CGPA,...,None,None,None,None,None,None,None,None,None,None
12,Kiah-kol,Syracuse University Management Information System,Fall 2018,Applied,GRE,322,TOEFL,107,UNDERGRAD,74.47 %,...,None,None,None,None,None,None,None,None,None,None
13,divsin12,Syracuse University Management Information System,Fall 2018,Applied,GRE,296,TOEFL,91,UNDERGRAD,72 %,...,None,None,None,None,None,None,None,None,None,None
14,chaitali922,Syracuse University Management Information System,Fall 2018,Applied,GRE,308,TOEFL,101,UNDERGRAD,7.79 CGPA,...,None,None,None,None,None,None,None,None,None,None
15,Mamta-h,Syracuse University Management Information System,Fall 2018,Applied,GRE,302,TOEFL,90,UNDERGRAD,7.75 CGPA,...,None,None,None,None,None,None,None,None,None,None
16,KAPIL TATHOD,Syracuse University Management Information System,Fall 2018,Applied,GRE,306,IELTS,7,UNDERGRAD,74.22 %,...,None,None,None,None,None,None,None,None,None,None
17,Radhika26,Syracuse University Management Information System,Fall 2018,Applied,GRE,308,TOEFL,93,UNDERGRAD,7.8 CGPA,...,None,None,None,None,None,None,None,None,None,None
18,BhavAce,Syracuse University Management Information System,Fall 2018,Applied,GRE,312,TOEFL,113,UNDERGRAD,10 CGPA,...,None,None,None,None,None,None,None,None,None,None
19,shreyadumbre 23,Syracuse University Management Information System,Fall 2018,Applied,GRE,311,TOEFL,106,UNDERGRAD,68.23 %,...,None,None,None,None,None,None,None,None,None,None
20,Saikumar91,Syracuse University Management Information System,Fall 2018,Applied,GRE,297,TOEFL,81,UNDERGRAD,62 %,...,None,None,None,None,None,None,None,None,None,None
21,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
22,Nishigandha,Syracuse University Management Information System,Fall 2019,Admit,GRE,N.A.,ENG TEST,NA,UNDERGRAD,65.3 %,...,None,None,None,None,None,None,None,None,None,None
23,amruthamandadi,Syracuse University Management Information System,Fall 2018,Admit,GRE,306,TOEFL,97,UNDERGRAD,73 %,...,None,None,None,None,None,None,None,None,None,None
24,viraj1331,Syracuse University Management Information System,Fall 2018,Admit,GRE,317,IELTS,7,UNDERGRAD,63.7 %,...,None,None,None,None,None,None,None,None,None,None
25,Aishwarya S,Syracuse University Management Information System,Fall 2018,Admit,GRE,300,TOEFL,88,UNDERGRAD,8.18 CGPA,...,None,None,None,None,None,None,None,None,None,None
26,priyankaguha36,Syracuse University Management Information System,Fall 2018,Admit,GRE,N.A.,TOEFL,90,UNDERGRAD,82 %,...,None,None,None,None,None,None,None,None,None,None
27,SagarMulani,Syracuse University Management Information System,Fall 2018,Admit,GRE,308,TOEFL,99,UNDERGRAD,65 %,...,None,None,None,None,None,None,None,None,None,None
28,hrgupta,Syracuse University Management Information System,Fall 2018,Admit,GRE,310,TOEFL,107,UNDERGRAD,7.39 CGPA,...,None,None,None,None,None,None,None,None,None,None
29,ParthMehta,Syracuse University Management Information System,Fall 2018,Admit,GRE,314,TOEFL,106,UNDERGRAD,9.15 CGPA,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Arpi99,Syracuse University Management Information System,Spring 2019,Interested,GRE,281,IELTS,6.5,UNDERGRAD,74 %,...,None,None,None,None,None,None,None,None,None,None
70,JashKT,Syracuse University Management Information System,Fall 2019,Interested,GRE,316,ENG TEST,NA,UNDERGRAD,9 CGPA,...,None,None,None,None,None,None,None,None,None,None
71,rajesh020393,Syracuse University Management Information System,Spring 2019,Interested,GRE,295,IELTS,6,UNDERGRAD,6.7 CGPA,...,None,None,None,None,None,None,None,None,None,None
72,ratnamandava,Syracuse University Management Information System,Fall 2019,Interested,GRE,322,ENG TEST,NA,UNDERGRAD,6.45 CGPA,...,None,None,None,None,None,None,None,None,None,None
73,SonalPDas,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.7 CGPA,...,None,None,None,None,None,None,None,None,None,None
74,aastha1897,Syracuse University Management Information System,Spring 2019,Interested,GRE,312,IELTS,7.5,UNDERGRAD,7.9 CGPA,...,None,None,None,None,None,None,None,None,None,None
75,kiniaditya,Syracuse University Management Information System,Fall 2019,Interested,GRE,305,IELTS,7,UNDERGRAD,8.11 CGPA,...,None,None,None,None,None,None,None,None,None,None
76,priyabalaji,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,IELTS,7.5,UNDERGRAD,7.35 CGPA,...,None,None,None,None,None,None,None,None,None,None
77,Venkateshsivakumar,Syracuse University Management Information System,Spring 2019,Interested,GRE,296,TOEFL,81,UNDERGRAD,7.37 CGPA,...,None,None,None,None,None,None,None,None,None,None
78,sidd1694,Syracuse University Management Information System,Spring 2019,Interested,GRE,316,IELTS,7.5,UNDERGRAD,69.5 %,...,None,None,None,None,None,None,None,None,None,None
79,kewalc,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,58 %,...,None,None,None,None,None,None,None,None,None,None
80,sisirchinferno,Syracuse University Management Information System,Spring 2019,Interested,GRE,308,TOEFL,100,UNDERGRAD,6.47 CGPA,...,None,None,None,None,None,None,None,None,None,None
81,pranavtiwari,Syracuse University Management Information System,Fall 2019,Interested,GRE,319,TOEFL,100,UNDERGRAD,62.47 %,...,None,None,None,None,None,None,None,None,None,None
82,diviraj,Syracuse University Management Information System,Spring 2019,Interested,GRE,303,TOEFL,103,UNDERGRAD,9 CGPA,...,None,None,None,None,None,None,None,None,None,None
83,ItzAyush,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.6 CGPA,...,None,None,None,None,None,None,None,None,None,None
84,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
85,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
86,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
87,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
88,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
89,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
90,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
91,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
92,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
93,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
94,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
95,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
96,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
97,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
98,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...

In [31]:
df=r.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)
df

,Name,University,Year,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergrad,Undergrad_score,work_ex
0,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
1,Niparash,Syracuse University Management Information System,Fall 2018,Applied,GRE,304,TOEFL,98,UNDERGRAD,7.81 CGPA,28 months
2,mischief-managed,Syracuse University Management Information System,Fall 2015,Applied,GRE,311,TOEFL,111,UNDERGRAD,59.8 %,40 months
3,saiyogesh,Syracuse University Management Information System,Fall 2018,Applied,GRE,320,TOEFL,113,UNDERGRAD,7.9 CGPA,17 months
4,SatwikKashyap,Syracuse University Management Information System,Fall 2018,Applied,GRE,308,TOEFL,90,UNDERGRAD,8.16 CGPA,43 months
5,Nidhiss,Syracuse University Management Information System,Fall 2018,Applied,GRE,299,TOEFL,88,UNDERGRAD,83 %,30 months
6,neetipopat,Syracuse University Management Information System,Fall 2014,Applied,GRE,306,TOEFL,96,UNDERGRAD,62 %,15 months
7,ChaitanyaMag,Syracuse University Management Information System,Fall 2018,Applied,GRE,303,TOEFL,97,UNDERGRAD,7 CGPA,16 months
8,AsadM,Syracuse University Management Information System,Fall 2018,Applied,GRE,301,ENG TEST,NA,UNDERGRAD,65 %,74 months
9,Akhild17,Syracuse University Management Information System,Fall 2018,Applied,GRE,300,TOEFL,88,UNDERGRAD,60 %,29 months
10,Bhagyashri333,Syracuse University Management Information System,Fall 2018,Applied,GRE,303,TOEFL,87,UNDERGRAD,6.8 CGPA,8 months
11,Tanya13,Syracuse University Management Information System,Fall 2018,Applied,GRE,315,TOEFL,112,UNDERGRAD,8.24 CGPA,1 month
12,Kiah-kol,Syracuse University Management Information System,Fall 2018,Applied,GRE,322,TOEFL,107,UNDERGRAD,74.47 %,28 months
13,divsin12,Syracuse University Management Information System,Fall 2018,Applied,GRE,296,TOEFL,91,UNDERGRAD,72 %,20 months
14,chaitali922,Syracuse University Management Information System,Fall 2018,Applied,GRE,308,TOEFL,101,UNDERGRAD,7.79 CGPA,16 months
15,Mamta-h,Syracuse University Management Information System,Fall 2018,Applied,GRE,302,TOEFL,90,UNDERGRAD,7.75 CGPA,6 months
16,KAPIL TATHOD,Syracuse University Management Information System,Fall 2018,Applied,GRE,306,IELTS,7,UNDERGRAD,74.22 %,8 months
17,Radhika26,Syracuse University Management Information System,Fall 2018,Applied,GRE,308,TOEFL,93,UNDERGRAD,7.8 CGPA,26 months
18,BhavAce,Syracuse University Management Information System,Fall 2018,Applied,GRE,312,TOEFL,113,UNDERGRAD,10 CGPA,NA
19,shreyadumbre 23,Syracuse University Management Information System,Fall 2018,Applied,GRE,311,TOEFL,106,UNDERGRAD,68.23 %,19 months
20,Saikumar91,Syracuse University Management Information System,Fall 2018,Applied,GRE,297,TOEFL,81,UNDERGRAD,62 %,46 months
21,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
22,Nishigandha,Syracuse University Management Information System,Fall 2019,Admit,GRE,N.A.,ENG TEST,NA,UNDERGRAD,65.3 %,18 months
23,amruthamandadi,Syracuse University Management Information System,Fall 2018,Admit,GRE,306,TOEFL,97,UNDERGRAD,73 %,42 months
24,viraj1331,Syracuse University Management Information System,Fall 2018,Admit,GRE,317,IELTS,7,UNDERGRAD,63.7 %,1 month
25,Aishwarya S,Syracuse University Management Information System,Fall 2018,Admit,GRE,300,TOEFL,88,UNDERGRAD,8.18 CGPA,24 months
26,priyankaguha36,Syracuse University Management Information System,Fall 2018,Admit,GRE,N.A.,TOEFL,90,UNDERGRAD,82 %,48 months
27,SagarMulani,Syracuse University Management Information System,Fall 2018,Admit,GRE,308,TOEFL,99,UNDERGRAD,65 %,19 months
28,hrgupta,Syracuse University Management Information System,Fall 2018,Admit,GRE,310,TOEFL,107,UNDERGRAD,7.39 CGPA,14 months
29,ParthMehta,Syracuse University Management Information System,Fall 2018,Admit,GRE,314,TOEFL,106,UNDERGRAD,9.15 CGPA,NA
...,...,...,...,...,...,...,...,...,...,...,...
69,Arpi99,Syracuse University Management Information System,Spring 2019,Interested,GRE,281,IELTS,6.5,UNDERGRAD,74 %,60 months
70,JashKT,Syracuse University Management Information System,Fall 2019,Interested,GRE,316,ENG TEST,NA,UNDERGRAD,9 CGPA,12 months
71,rajesh020393,Syracuse University Management Information System,Spring 2019,Interested,GRE,295,IELTS,6,UNDERGRAD,6.7 CGPA,24 months
72,ratnamandava,Syracuse University Management Information System,Fall 2019,Interested,GRE,322,ENG TEST,NA,UNDERGRAD,6.45 CGPA,1 month
73,SonalPDas,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.7 CGPA,60 months
74,aastha1897,Syracuse University Management Information System,Spring 2019,Interested,GRE,312,IELTS,7.5,UNDERGRAD,7.9 CGPA,NA
75,kiniaditya,Syracuse University Management Information System,Fall 2019,Interested,GRE,305,IELTS,7,UNDERGRAD,8.11 CGPA,NA
76,priyabalaji,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,IELTS,7.5,UNDERGRAD,7.35 CGPA,NA
77,Venkateshsivakumar,Syracuse University Management Information System,Spring 2019,Interested,GRE,296,TOEFL,81,UNDERGRAD,7.37 CGPA,43 months
78,sidd1694,Syracuse University Management Information System,Spring 2019,Interested,GRE,316,IELTS,7.5,UNDERGRAD,69.5 %,28 months
79,kewalc,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,58 %,NA
80,sisirchinferno,Syracuse University Management Information System,Spring 2019,Interested,GRE,308,TOEFL,100,UNDERGRAD,6.47 CGPA,38 months
81,pranavtiwari,Syracuse University Management Information System,Fall 2019,Interested,GRE,319,TOEFL,100,UNDERGRAD,62.47 %,12 months
82,diviraj,Syracuse University Management Information System,Spring 2019,Interested,GRE,303,TOEFL,103,UNDERGRAD,9 CGPA,2 months
83,ItzAyush,Syracuse University Management Information System,Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.6 CGPA,24 months
84,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
85,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
86,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
87,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
88,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
89,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
90,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
91,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
92,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
93,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
94,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
95,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
96,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
97,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
98,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,

In [32]:
df = df[df.Name != 'Welcome to Yocket']

In [74]:
p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

In [75]:
p.head()

,Name,University,Year,Status,GRE_SCORE,Eng_test,Test_score,Undergrad_score,work_ex
1,Rohan0901,University of Illinois at Chicago Management I...,Spring 2019,Applied,308,TOEFL,92,63.33 %,60 months
2,ShubhamCfc,University of Illinois at Chicago Management I...,Spring 2019,Applied,302,TOEFL,98,73 %,40 months
3,Animesh1990,University of Illinois at Chicago Management I...,Fall 2018,Applied,329,TOEFL,114,7.2 CGPA,51 months
4,harsu,University of Illinois at Chicago Management I...,Fall 2018,Applied,309,TOEFL,93,7.3 CGPA,NA
5,ChaitanyaMag,University of Illinois at Chicago Management I...,Fall 2018,Applied,303,TOEFL,97,7 CGPA,16 months

In [33]:
columns = ['GRE', 'Undergrad']
df.drop(columns, inplace=True, axis=1)

C:\Users\Harsh\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [34]:
df

,Name,University,Year,Status,GRE_SCORE,Eng_test,Test_score,Undergrad_score,work_ex
1,Niparash,Syracuse University Management Information System,Fall 2018,Applied,304,TOEFL,98,7.81 CGPA,28 months
2,mischief-managed,Syracuse University Management Information System,Fall 2015,Applied,311,TOEFL,111,59.8 %,40 months
3,saiyogesh,Syracuse University Management Information System,Fall 2018,Applied,320,TOEFL,113,7.9 CGPA,17 months
4,SatwikKashyap,Syracuse University Management Information System,Fall 2018,Applied,308,TOEFL,90,8.16 CGPA,43 months
5,Nidhiss,Syracuse University Management Information System,Fall 2018,Applied,299,TOEFL,88,83 %,30 months
6,neetipopat,Syracuse University Management Information System,Fall 2014,Applied,306,TOEFL,96,62 %,15 months
7,ChaitanyaMag,Syracuse University Management Information System,Fall 2018,Applied,303,TOEFL,97,7 CGPA,16 months
8,AsadM,Syracuse University Management Information System,Fall 2018,Applied,301,ENG TEST,NA,65 %,74 months
9,Akhild17,Syracuse University Management Information System,Fall 2018,Applied,300,TOEFL,88,60 %,29 months
10,Bhagyashri333,Syracuse University Management Information System,Fall 2018,Applied,303,TOEFL,87,6.8 CGPA,8 months
11,Tanya13,Syracuse University Management Information System,Fall 2018,Applied,315,TOEFL,112,8.24 CGPA,1 month
12,Kiah-kol,Syracuse University Management Information System,Fall 2018,Applied,322,TOEFL,107,74.47 %,28 months
13,divsin12,Syracuse University Management Information System,Fall 2018,Applied,296,TOEFL,91,72 %,20 months
14,chaitali922,Syracuse University Management Information System,Fall 2018,Applied,308,TOEFL,101,7.79 CGPA,16 months
15,Mamta-h,Syracuse University Management Information System,Fall 2018,Applied,302,TOEFL,90,7.75 CGPA,6 months
16,KAPIL TATHOD,Syracuse University Management Information System,Fall 2018,Applied,306,IELTS,7,74.22 %,8 months
17,Radhika26,Syracuse University Management Information System,Fall 2018,Applied,308,TOEFL,93,7.8 CGPA,26 months
18,BhavAce,Syracuse University Management Information System,Fall 2018,Applied,312,TOEFL,113,10 CGPA,NA
19,shreyadumbre 23,Syracuse University Management Information System,Fall 2018,Applied,311,TOEFL,106,68.23 %,19 months
20,Saikumar91,Syracuse University Management Information System,Fall 2018,Applied,297,TOEFL,81,62 %,46 months
22,Nishigandha,Syracuse University Management Information System,Fall 2019,Admit,N.A.,ENG TEST,NA,65.3 %,18 months
23,amruthamandadi,Syracuse University Management Information System,Fall 2018,Admit,306,TOEFL,97,73 %,42 months
24,viraj1331,Syracuse University Management Information System,Fall 2018,Admit,317,IELTS,7,63.7 %,1 month
25,Aishwarya S,Syracuse University Management Information System,Fall 2018,Admit,300,TOEFL,88,8.18 CGPA,24 months
26,priyankaguha36,Syracuse University Management Information System,Fall 2018,Admit,N.A.,TOEFL,90,82 %,48 months
27,SagarMulani,Syracuse University Management Information System,Fall 2018,Admit,308,TOEFL,99,65 %,19 months
28,hrgupta,Syracuse University Management Information System,Fall 2018,Admit,310,TOEFL,107,7.39 CGPA,14 months
29,ParthMehta,Syracuse University Management Information System,Fall 2018,Admit,314,TOEFL,106,9.15 CGPA,NA
30,AkRel,Syracuse University Management Information System,Fall 2018,Admit,302,TOEFL,101,65 %,30 months
31,adi1993,Syracuse University Management Information System,Fall 2018,Admit,303,TOEFL,94,7.37 CGPA,27 months
...,...,...,...,...,...,...,...,...,...
53,Snehaw,Syracuse University Management Information System,Fall 2018,Reject,299,TOEFL,97,72.3 %,48 months
54,Jayeshiyer,Syracuse University Management Information System,Fall 2018,Reject,307,IELTS,7,54 %,31 months
55,JayPatel8394,Syracuse University Management Information System,Fall 2018,Reject,297,TOEFL,99,55.81 %,24 months
56,@mihir,Syracuse University Management Information System,Fall 2018,Reject,305,TOEFL,98,50.22 %,17 months
57,HardikSoni,Syracuse University Management Information System,Fall 2018,Reject,296,TOEFL,93,64.3 %,64 months
58,Mansi003,Syracuse University Management Information System,Fall 2018,Reject,300,TOEFL,90,7 CGPA,12 months
59,srishti1995,Syracuse University Management Information System,Fall 2018,Reject,297,TOEFL,88,81 %,20 months
60,kenil,Syracuse University Management Information System,Fall 2018,Reject,323,TOEFL,110,8.55 CGPA,NA
61,Sandyyy,Syracuse University Management Information System,Fall 2018,Reject,305,ENG TEST,NA,8.5 CGPA,6 months
62,Alloy,Syracuse University Management Information System,Fall 2018,Reject,302,IELTS,7,8.22 CGPA,8 months
64,aishwaryacraj,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,8.78 CGPA,1 month
65,prizzy,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,6.75 CGPA,16 months
66,prasoons075,Syracuse University Management Information System,Spring 2019,Interested,304,ENG TEST,NA,74 %,24 months
67,lokesh2334,Syracuse University Management Information System,Spring 2019,Interested,295,TOEFL,93,54 %,41 months
68,vivekku9944,Syracuse University Management Information Sy...,Fall 2018,Interested,293,TOEFL,82,55 %,22 months
69,Arpi99,Syracuse University Management Information System,Spring 2019,Interested,281,IELTS,6.5,74 %,60 months
70,JashKT,Syracuse University Management Information System,Fall 2019,Interested,316,ENG TEST,NA,9 CGPA,12 months
71,rajesh020393,Syracuse University Management Information System,Spring 2019,Interested,295,IELTS,6,6.7 CGPA,24 months
72,ratnamandava,Syracuse University Management Information System,Fall 2019,Interested,322,ENG TEST,NA,6.45 CGPA,1 month
73,SonalPDas,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,8.7 CGPA,60 months
74,aastha1897,Syracuse University Management Information System,Spring 2019,Interested,312,IELTS,7.5,7.9 CGPA,NA
75,kiniaditya,Syracuse University Management Information System,Fall 2019,Interested,305,IELTS,7,8.11 CGPA,NA
76,priyabalaji,Syracuse University Management Information System,Fall 2019,Interested,N.A.,IELTS,7.5,7.35 CGPA,NA
77,Venkateshsivakumar,Syracuse University Management Information System,Spring 2019,Interested,296,TOEFL,81,7.37 CGPA,43 months
78,sidd1694,Syracuse University Management Information System,Spring 2019,Interested,316,IELTS,7.5,69.5 %,28 months
79,kewalc,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,58 %,NA
80,sisirchinferno,Syracuse University Management Information System,Spring 2019,Interested,308,TOEFL,100,6.47 CGPA,38 months
81,pranavtiwari,Syracuse University Management Information System,Fall 2019,Interested,319,TOEFL,100,62.47 %,12 months
82,diviraj,Syracuse University Management Information System,Spring 2019,Interested,303,TOEFL,103,9 CGPA,2 months
83,ItzAyush,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,8.6 CGPA,24 months

In [35]:
df.to_csv("Syracuse1.csv")

In [36]:
pd.read_csv("Syracuse1.csv")

,Unnamed: 0,Name,University,Year,Status,GRE_SCORE,Eng_test,Test_score,Undergrad_score,work_ex
0,1,Niparash,Syracuse University Management Information System,Fall 2018,Applied,304,TOEFL,98,7.81 CGPA,28 months
1,2,mischief-managed,Syracuse University Management Information System,Fall 2015,Applied,311,TOEFL,111,59.8 %,40 months
2,3,saiyogesh,Syracuse University Management Information System,Fall 2018,Applied,320,TOEFL,113,7.9 CGPA,17 months
3,4,SatwikKashyap,Syracuse University Management Information System,Fall 2018,Applied,308,TOEFL,90,8.16 CGPA,43 months
4,5,Nidhiss,Syracuse University Management Information System,Fall 2018,Applied,299,TOEFL,88,83 %,30 months
5,6,neetipopat,Syracuse University Management Information System,Fall 2014,Applied,306,TOEFL,96,62 %,15 months
6,7,ChaitanyaMag,Syracuse University Management Information System,Fall 2018,Applied,303,TOEFL,97,7 CGPA,16 months
7,8,AsadM,Syracuse University Management Information System,Fall 2018,Applied,301,ENG TEST,NA,65 %,74 months
8,9,Akhild17,Syracuse University Management Information System,Fall 2018,Applied,300,TOEFL,88,60 %,29 months
9,10,Bhagyashri333,Syracuse University Management Information System,Fall 2018,Applied,303,TOEFL,87,6.8 CGPA,8 months
10,11,Tanya13,Syracuse University Management Information System,Fall 2018,Applied,315,TOEFL,112,8.24 CGPA,1 month
11,12,Kiah-kol,Syracuse University Management Information System,Fall 2018,Applied,322,TOEFL,107,74.47 %,28 months
12,13,divsin12,Syracuse University Management Information System,Fall 2018,Applied,296,TOEFL,91,72 %,20 months
13,14,chaitali922,Syracuse University Management Information System,Fall 2018,Applied,308,TOEFL,101,7.79 CGPA,16 months
14,15,Mamta-h,Syracuse University Management Information System,Fall 2018,Applied,302,TOEFL,90,7.75 CGPA,6 months
15,16,KAPIL TATHOD,Syracuse University Management Information System,Fall 2018,Applied,306,IELTS,7,74.22 %,8 months
16,17,Radhika26,Syracuse University Management Information System,Fall 2018,Applied,308,TOEFL,93,7.8 CGPA,26 months
17,18,BhavAce,Syracuse University Management Information System,Fall 2018,Applied,312,TOEFL,113,10 CGPA,NaN
18,19,shreyadumbre 23,Syracuse University Management Information System,Fall 2018,Applied,311,TOEFL,106,68.23 %,19 months
19,20,Saikumar91,Syracuse University Management Information System,Fall 2018,Applied,297,TOEFL,81,62 %,46 months
20,22,Nishigandha,Syracuse University Management Information System,Fall 2019,Admit,N.A.,ENG TEST,NA,65.3 %,18 months
21,23,amruthamandadi,Syracuse University Management Information System,Fall 2018,Admit,306,TOEFL,97,73 %,42 months
22,24,viraj1331,Syracuse University Management Information System,Fall 2018,Admit,317,IELTS,7,63.7 %,1 month
23,25,Aishwarya S,Syracuse University Management Information System,Fall 2018,Admit,300,TOEFL,88,8.18 CGPA,24 months
24,26,priyankaguha36,Syracuse University Management Information System,Fall 2018,Admit,N.A.,TOEFL,90,82 %,48 months
25,27,SagarMulani,Syracuse University Management Information System,Fall 2018,Admit,308,TOEFL,99,65 %,19 months
26,28,hrgupta,Syracuse University Management Information System,Fall 2018,Admit,310,TOEFL,107,7.39 CGPA,14 months
27,29,ParthMehta,Syracuse University Management Information System,Fall 2018,Admit,314,TOEFL,106,9.15 CGPA,NaN
28,30,AkRel,Syracuse University Management Information System,Fall 2018,Admit,302,TOEFL,101,65 %,30 months
29,31,adi1993,Syracuse University Management Information System,Fall 2018,Admit,303,TOEFL,94,7.37 CGPA,27 months
...,...,...,...,...,...,...,...,...,...,...
50,53,Snehaw,Syracuse University Management Information System,Fall 2018,Reject,299,TOEFL,97,72.3 %,48 months
51,54,Jayeshiyer,Syracuse University Management Information System,Fall 2018,Reject,307,IELTS,7,54 %,31 months
52,55,JayPatel8394,Syracuse University Management Information System,Fall 2018,Reject,297,TOEFL,99,55.81 %,24 months
53,56,@mihir,Syracuse University Management Information System,Fall 2018,Reject,305,TOEFL,98,50.22 %,17 months
54,57,HardikSoni,Syracuse University Management Information System,Fall 2018,Reject,296,TOEFL,93,64.3 %,64 months
55,58,Mansi003,Syracuse University Management Information System,Fall 2018,Reject,300,TOEFL,90,7 CGPA,12 months
56,59,srishti1995,Syracuse University Management Information System,Fall 2018,Reject,297,TOEFL,88,81 %,20 months
57,60,kenil,Syracuse University Management Information System,Fall 2018,Reject,323,TOEFL,110,8.55 CGPA,NA
58,61,Sandyyy,Syracuse University Management Information System,Fall 2018,Reject,305,ENG TEST,NA,8.5 CGPA,6 months
59,62,Alloy,Syracuse University Management Information System,Fall 2018,Reject,302,IELTS,7,8.22 CGPA,8 months
60,64,aishwaryacraj,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,8.78 CGPA,1 month
61,65,prizzy,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,6.75 CGPA,16 months
62,66,prasoons075,Syracuse University Management Information System,Spring 2019,Interested,304,ENG TEST,NA,74 %,24 months
63,67,lokesh2334,Syracuse University Management Information System,Spring 2019,Interested,295,TOEFL,93,54 %,41 months
64,68,vivekku9944,Syracuse University Management Information Sy...,Fall 2018,Interested,293,TOEFL,82,55 %,22 months
65,69,Arpi99,Syracuse University Management Information System,Spring 2019,Interested,281,IELTS,6.5,74 %,60 months
66,70,JashKT,Syracuse University Management Information System,Fall 2019,Interested,316,ENG TEST,NA,9 CGPA,12 months
67,71,rajesh020393,Syracuse University Management Information System,Spring 2019,Interested,295,IELTS,6,6.7 CGPA,24 months
68,72,ratnamandava,Syracuse University Management Information System,Fall 2019,Interested,322,ENG TEST,NA,6.45 CGPA,1 month
69,73,SonalPDas,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,8.7 CGPA,60 months
70,74,aastha1897,Syracuse University Management Information System,Spring 2019,Interested,312,IELTS,7.5,7.9 CGPA,NaN
71,75,kiniaditya,Syracuse University Management Information System,Fall 2019,Interested,305,IELTS,7,8.11 CGPA,NaN
72,76,priyabalaji,Syracuse University Management Information System,Fall 2019,Interested,N.A.,IELTS,7.5,7.35 CGPA,NaN
73,77,Venkateshsivakumar,Syracuse University Management Information System,Spring 2019,Interested,296,TOEFL,81,7.37 CGPA,43 months
74,78,sidd1694,Syracuse University Management Information System,Spring 2019,Interested,316,IELTS,7.5,69.5 %,28 months
75,79,kewalc,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,58 %,NaN
76,80,sisirchinferno,Syracuse University Management Information System,Spring 2019,Interested,308,TOEFL,100,6.47 CGPA,38 months
77,81,pranavtiwari,Syracuse University Management Information System,Fall 2019,Interested,319,TOEFL,100,62.47 %,12 months
78,82,diviraj,Syracuse University Management Information System,Spring 2019,Interested,303,TOEFL,103,9 CGPA,2 months
79,83,ItzAyush,Syracuse University Management Information System,Fall 2019,Interested,N.A.,ENG TEST,NA,8.6 CGPA,24 months

In [48]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/95-university-of-maryland-college-park/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [49]:
p.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,...,Sign in with Google,A verification code has been sent to your emai...,CONTINUE,We couldn't verify this code. Please enter the...,Please complete all fields correctly,(+1) United States(+20) Egypt(+211) South Suda...,,SIGN UP,Please complete all fields correctly,By creating an account you agree to Yocket's T...
1,Karthik482,"University of Maryland, College Park Managemen...",Spring 2019,Applied,GRE,313,ENG TEST,NA,UNDERGRAD,7.2 CGPA,...,None,None,None,None,None,None,None,None,None,None
2,Seemanthini,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,301,TOEFL,0,UNDERGRAD,8.4 CGPA,...,None,None,None,None,None,None,None,None,None,None
3,Giridhar312,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,311,IELTS,7,UNDERGRAD,7.74 CGPA,...,None,None,None,None,None,None,None,None,None,None
4,latikawadhwa,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,308,TOEFL,106,UNDERGRAD,8.42 CGPA,...,None,None,None,None,None,None,None,None,None,None

In [55]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [58]:
p

,Name,University,Year,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergrad,Undergrad_score,work_ex
0,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
1,Karthik482,"University of Maryland, College Park Managemen...",Spring 2019,Applied,GRE,313,ENG TEST,NA,UNDERGRAD,7.2 CGPA,NA
2,Seemanthini,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,301,TOEFL,0,UNDERGRAD,8.4 CGPA,29 months
3,Giridhar312,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,311,IELTS,7,UNDERGRAD,7.74 CGPA,25 months
4,latikawadhwa,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,308,TOEFL,106,UNDERGRAD,8.42 CGPA,9 months
5,frey_b,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,300,TOEFL,103,UNDERGRAD,9 CGPA,30 months
6,ChaitanyaMag,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,303,TOEFL,97,UNDERGRAD,7 CGPA,16 months
7,KoSanjana,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,305,TOEFL,109,UNDERGRAD,86 %,25 months
8,Aakash6993,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,318,TOEFL,102,UNDERGRAD,67 %,32 months
9,AsadM,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,301,ENG TEST,NA,UNDERGRAD,65 %,74 months
10,adipareshshah,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,N.A.,TOEFL,113,UNDERGRAD,73.89 %,60 months
11,rohanmanatkar,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,318,TOEFL,108,UNDERGRAD,6.54 CGPA,5 months
12,Devash,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,305,TOEFL,100,UNDERGRAD,9 CGPA,43 months
13,Sukrit07,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,324,TOEFL,109,UNDERGRAD,6.2 CGPA,40 months
14,ajin22,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,322,TOEFL,114,UNDERGRAD,64 %,29 months
15,darshisheth,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,307,TOEFL,105,UNDERGRAD,8.02 CGPA,NA
16,Shivapriyak,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,317,TOEFL,103,UNDERGRAD,79 %,60 months
17,varunz,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,313,TOEFL,101,UNDERGRAD,80.14 %,48 months
18,Devansh1205,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,310,TOEFL,98,UNDERGRAD,6.51 CGPA,6 months
19,SHETE96,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,309,ENG TEST,NA,UNDERGRAD,8.14 CGPA,2 months
20,deeksha96,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.23 CGPA,10 months
21,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
22,LeharA,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,310,TOEFL,106,UNDERGRAD,75.6 %,42 months
23,nishanth10,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,306,TOEFL,94,UNDERGRAD,7.6 CGPA,35 months
24,hrgupta,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,310,TOEFL,107,UNDERGRAD,7.39 CGPA,14 months
25,ParthMehta,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,314,TOEFL,106,UNDERGRAD,9.15 CGPA,NA
26,KrithikaCT,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,301,TOEFL,0,UNDERGRAD,80.12 %,60 months
27,Balvaishwer,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,313,TOEFL,0,UNDERGRAD,84 %,24 months
28,Skywalker95,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,317,TOEFL,101,UNDERGRAD,67 %,18 months
29,mohitghodake,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,311,TOEFL,98,UNDERGRAD,7.31 CGPA,25 months
...,...,...,...,...,...,...,...,...,...,...,...
69,Orpheus4256,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,310,TOEFL,106,UNDERGRAD,7.92 CGPA,35 months
70,aastha1897,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,312,IELTS,7.5,UNDERGRAD,7.9 CGPA,NA
71,Abhiggg,"University of Maryland, College Park Managemen...",Fall 2018,Interested,GRE,314,TOEFL,100,UNDERGRAD,8.5 CGPA,15 months
72,AdityaBenjamin,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,6.75 CGPA,22 months
73,ratnamandava,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,322,ENG TEST,NA,UNDERGRAD,6.45 CGPA,1 month
74,hjkkjg,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,318,ENG TEST,NA,UNDERGRAD,8 CGPA,6 months
75,SonalPDas,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.7 CGPA,60 months
76,shivani10397,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,7.02 CGPA,NA
77,priyabalaji,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,IELTS,7.5,UNDERGRAD,7.35 CGPA,NA
78,Sujesh,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,321,TOEFL,114,UNDERGRAD,7.58 CGPA,38 months
79,amloo123,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,7.3 CGPA,48 months
80,ambitasu1991,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,322,ENG TEST,NA,UNDERGRAD,70 %,60 months
81,kewalc,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,58 %,NA
82,JashKT,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,316,ENG TEST,NA,UNDERGRAD,9 CGPA,12 months
83,rathodyash,"University of Maryland, College Park Managemen...",Fall 2020,Interested,GRE,305,ENG TEST,NA,UNDERGRAD,7.1 CGPA,NA
84,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
85,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
86,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
87,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
88,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
89,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
90,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
91,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
92,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
93,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
94,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
95,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
96,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
97,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,
98,Welcome to Yocket,Sign in to Explore More,,Please enter a valid email address,NEXT,OR,,Sign in with Google,SIGN IN,Forgot password?,

In [63]:
p = p[p.Name != 'Welcome to Yocket']
p

,Name,University,Year,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergrad,Undergrad_score,work_ex
1,Karthik482,"University of Maryland, College Park Managemen...",Spring 2019,Applied,GRE,313,ENG TEST,NA,UNDERGRAD,7.2 CGPA,NA
2,Seemanthini,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,301,TOEFL,0,UNDERGRAD,8.4 CGPA,29 months
3,Giridhar312,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,311,IELTS,7,UNDERGRAD,7.74 CGPA,25 months
4,latikawadhwa,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,308,TOEFL,106,UNDERGRAD,8.42 CGPA,9 months
5,frey_b,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,300,TOEFL,103,UNDERGRAD,9 CGPA,30 months
6,ChaitanyaMag,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,303,TOEFL,97,UNDERGRAD,7 CGPA,16 months
7,KoSanjana,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,305,TOEFL,109,UNDERGRAD,86 %,25 months
8,Aakash6993,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,318,TOEFL,102,UNDERGRAD,67 %,32 months
9,AsadM,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,301,ENG TEST,NA,UNDERGRAD,65 %,74 months
10,adipareshshah,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,N.A.,TOEFL,113,UNDERGRAD,73.89 %,60 months
11,rohanmanatkar,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,318,TOEFL,108,UNDERGRAD,6.54 CGPA,5 months
12,Devash,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,305,TOEFL,100,UNDERGRAD,9 CGPA,43 months
13,Sukrit07,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,324,TOEFL,109,UNDERGRAD,6.2 CGPA,40 months
14,ajin22,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,322,TOEFL,114,UNDERGRAD,64 %,29 months
15,darshisheth,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,307,TOEFL,105,UNDERGRAD,8.02 CGPA,NA
16,Shivapriyak,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,317,TOEFL,103,UNDERGRAD,79 %,60 months
17,varunz,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,313,TOEFL,101,UNDERGRAD,80.14 %,48 months
18,Devansh1205,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,310,TOEFL,98,UNDERGRAD,6.51 CGPA,6 months
19,SHETE96,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,309,ENG TEST,NA,UNDERGRAD,8.14 CGPA,2 months
20,deeksha96,"University of Maryland, College Park Managemen...",Fall 2018,Applied,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.23 CGPA,10 months
22,LeharA,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,310,TOEFL,106,UNDERGRAD,75.6 %,42 months
23,nishanth10,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,306,TOEFL,94,UNDERGRAD,7.6 CGPA,35 months
24,hrgupta,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,310,TOEFL,107,UNDERGRAD,7.39 CGPA,14 months
25,ParthMehta,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,314,TOEFL,106,UNDERGRAD,9.15 CGPA,NA
26,KrithikaCT,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,301,TOEFL,0,UNDERGRAD,80.12 %,60 months
27,Balvaishwer,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,313,TOEFL,0,UNDERGRAD,84 %,24 months
28,Skywalker95,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,317,TOEFL,101,UNDERGRAD,67 %,18 months
29,mohitghodake,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,311,TOEFL,98,UNDERGRAD,7.31 CGPA,25 months
30,ohm,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,313,TOEFL,104,UNDERGRAD,6.5 CGPA,1 month
31,rupam3,"University of Maryland, College Park Managemen...",Fall 2018,Admit,GRE,312,TOEFL,98,UNDERGRAD,7.07 CGPA,14 months
...,...,...,...,...,...,...,...,...,...,...,...
53,Harshada B,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,307,TOEFL,100,UNDERGRAD,63 %,48 months
54,Tushar MJ,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,311,TOEFL,96,UNDERGRAD,80.12 %,27 months
55,druvika,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,303,TOEFL,91,UNDERGRAD,66 %,35 months
56,goodrajat,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,311,TOEFL,98,UNDERGRAD,8.84 CGPA,27 months
57,ApoorvaA,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,312,TOEFL,97,UNDERGRAD,66.67 %,18 months
58,Ishita1302,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,309,TOEFL,88,UNDERGRAD,7.69 CGPA,16 months
59,sumitpratap,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,314,TOEFL,100,UNDERGRAD,69 %,61 months
60,adi.sandbox,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,307,TOEFL,100,UNDERGRAD,67 %,53 months
61,tanu.shetty14,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,305,TOEFL,109,UNDERGRAD,65.45 %,18 months
62,rushabhmeht,"University of Maryland, College Park Managemen...",Fall 2017,Reject,GRE,314,TOEFL,104,UNDERGRAD,58 %,53 months
64,ishitap2018,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,311,ENG TEST,NA,UNDERGRAD,68 %,45 months
65,prasoons075,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,304,ENG TEST,NA,UNDERGRAD,74 %,24 months
66,aishwaryacraj,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.78 CGPA,1 month
67,MeghaPN,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,303,TOEFL,95,UNDERGRAD,75 %,20 months
68,nidhi-badde,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,65 %,12 months
69,Orpheus4256,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,310,TOEFL,106,UNDERGRAD,7.92 CGPA,35 months
70,aastha1897,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,312,IELTS,7.5,UNDERGRAD,7.9 CGPA,NA
71,Abhiggg,"University of Maryland, College Park Managemen...",Fall 2018,Interested,GRE,314,TOEFL,100,UNDERGRAD,8.5 CGPA,15 months
72,AdityaBenjamin,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,6.75 CGPA,22 months
73,ratnamandava,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,322,ENG TEST,NA,UNDERGRAD,6.45 CGPA,1 month
74,hjkkjg,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,318,ENG TEST,NA,UNDERGRAD,8 CGPA,6 months
75,SonalPDas,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,8.7 CGPA,60 months
76,shivani10397,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,7.02 CGPA,NA
77,priyabalaji,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,IELTS,7.5,UNDERGRAD,7.35 CGPA,NA
78,Sujesh,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,321,TOEFL,114,UNDERGRAD,7.58 CGPA,38 months
79,amloo123,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,7.3 CGPA,48 months
80,ambitasu1991,"University of Maryland, College Park Managemen...",Spring 2019,Interested,GRE,322,ENG TEST,NA,UNDERGRAD,70 %,60 months
81,kewalc,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,N.A.,ENG TEST,NA,UNDERGRAD,58 %,NA
82,JashKT,"University of Maryland, College Park Managemen...",Fall 2019,Interested,GRE,316,ENG TEST,NA,UNDERGRAD,9 CGPA,12 months
83,rathodyash,"University of Maryland, College Park Managemen...",Fall 2020,Interested,GRE,305,ENG TEST,NA,UNDERGRAD,7.1 CGPA,NA

In [64]:
columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [65]:
p.to_csv("Umcp.csv")

In [67]:
pd.read_csv("Umcp.csv")

,Unnamed: 0,Name,University,Year,Status,GRE_SCORE,Eng_test,Test_score,Undergrad_score,work_ex
0,1,Karthik482,"University of Maryland, College Park Managemen...",Spring 2019,Applied,313,ENG TEST,NA,7.2 CGPA,NaN
1,2,Seemanthini,"University of Maryland, College Park Managemen...",Fall 2018,Applied,301,TOEFL,0,8.4 CGPA,29 months
2,3,Giridhar312,"University of Maryland, College Park Managemen...",Fall 2018,Applied,311,IELTS,7,7.74 CGPA,25 months
3,4,latikawadhwa,"University of Maryland, College Park Managemen...",Fall 2018,Applied,308,TOEFL,106,8.42 CGPA,9 months
4,5,frey_b,"University of Maryland, College Park Managemen...",Fall 2018,Applied,300,TOEFL,103,9 CGPA,30 months
5,6,ChaitanyaMag,"University of Maryland, College Park Managemen...",Fall 2018,Applied,303,TOEFL,97,7 CGPA,16 months
6,7,KoSanjana,"University of Maryland, College Park Managemen...",Fall 2018,Applied,305,TOEFL,109,86 %,25 months
7,8,Aakash6993,"University of Maryland, College Park Managemen...",Fall 2018,Applied,318,TOEFL,102,67 %,32 months
8,9,AsadM,"University of Maryland, College Park Managemen...",Fall 2018,Applied,301,ENG TEST,NA,65 %,74 months
9,10,adipareshshah,"University of Maryland, College Park Managemen...",Fall 2018,Applied,N.A.,TOEFL,113,73.89 %,60 months
10,11,rohanmanatkar,"University of Maryland, College Park Managemen...",Fall 2018,Applied,318,TOEFL,108,6.54 CGPA,5 months
11,12,Devash,"University of Maryland, College Park Managemen...",Fall 2018,Applied,305,TOEFL,100,9 CGPA,43 months
12,13,Sukrit07,"University of Maryland, College Park Managemen...",Fall 2018,Applied,324,TOEFL,109,6.2 CGPA,40 months
13,14,ajin22,"University of Maryland, College Park Managemen...",Fall 2018,Applied,322,TOEFL,114,64 %,29 months
14,15,darshisheth,"University of Maryland, College Park Managemen...",Fall 2018,Applied,307,TOEFL,105,8.02 CGPA,NaN
15,16,Shivapriyak,"University of Maryland, College Park Managemen...",Fall 2018,Applied,317,TOEFL,103,79 %,60 months
16,17,varunz,"University of Maryland, College Park Managemen...",Fall 2018,Applied,313,TOEFL,101,80.14 %,48 months
17,18,Devansh1205,"University of Maryland, College Park Managemen...",Fall 2018,Applied,310,TOEFL,98,6.51 CGPA,6 months
18,19,SHETE96,"University of Maryland, College Park Managemen...",Fall 2018,Applied,309,ENG TEST,NA,8.14 CGPA,2 months
19,20,deeksha96,"University of Maryland, College Park Managemen...",Fall 2018,Applied,N.A.,ENG TEST,NA,8.23 CGPA,10 months
20,22,LeharA,"University of Maryland, College Park Managemen...",Fall 2018,Admit,310,TOEFL,106,75.6 %,42 months
21,23,nishanth10,"University of Maryland, College Park Managemen...",Fall 2018,Admit,306,TOEFL,94,7.6 CGPA,35 months
22,24,hrgupta,"University of Maryland, College Park Managemen...",Fall 2018,Admit,310,TOEFL,107,7.39 CGPA,14 months
23,25,ParthMehta,"University of Maryland, College Park Managemen...",Fall 2018,Admit,314,TOEFL,106,9.15 CGPA,NaN
24,26,KrithikaCT,"University of Maryland, College Park Managemen...",Fall 2018,Admit,301,TOEFL,0,80.12 %,60 months
25,27,Balvaishwer,"University of Maryland, College Park Managemen...",Fall 2018,Admit,313,TOEFL,0,84 %,24 months
26,28,Skywalker95,"University of Maryland, College Park Managemen...",Fall 2018,Admit,317,TOEFL,101,67 %,18 months
27,29,mohitghodake,"University of Maryland, College Park Managemen...",Fall 2018,Admit,311,TOEFL,98,7.31 CGPA,25 months
28,30,ohm,"University of Maryland, College Park Managemen...",Fall 2018,Admit,313,TOEFL,104,6.5 CGPA,1 month
29,31,rupam3,"University of Maryland, College Park Managemen...",Fall 2018,Admit,312,TOEFL,98,7.07 CGPA,14 months
...,...,...,...,...,...,...,...,...,...,...
50,53,Harshada B,"University of Maryland, College Park Managemen...",Fall 2017,Reject,307,TOEFL,100,63 %,48 months
51,54,Tushar MJ,"University of Maryland, College Park Managemen...",Fall 2017,Reject,311,TOEFL,96,80.12 %,27 months
52,55,druvika,"University of Maryland, College Park Managemen...",Fall 2017,Reject,303,TOEFL,91,66 %,35 months
53,56,goodrajat,"University of Maryland, College Park Managemen...",Fall 2017,Reject,311,TOEFL,98,8.84 CGPA,27 months
54,57,ApoorvaA,"University of Maryland, College Park Managemen...",Fall 2017,Reject,312,TOEFL,97,66.67 %,18 months
55,58,Ishita1302,"University of Maryland, College Park Managemen...",Fall 2017,Reject,309,TOEFL,88,7.69 CGPA,16 months
56,59,sumitpratap,"University of Maryland, College Park Managemen...",Fall 2017,Reject,314,TOEFL,100,69 %,61 months
57,60,adi.sandbox,"University of Maryland, College Park Managemen...",Fall 2017,Reject,307,TOEFL,100,67 %,53 months
58,61,tanu.shetty14,"University of Maryland, College Park Managemen...",Fall 2017,Reject,305,TOEFL,109,65.45 %,18 months
59,62,rushabhmeht,"University of Maryland, College Park Managemen...",Fall 2017,Reject,314,TOEFL,104,58 %,53 months
60,64,ishitap2018,"University of Maryland, College Park Managemen...",Fall 2019,Interested,311,ENG TEST,NA,68 %,45 months
61,65,prasoons075,"University of Maryland, College Park Managemen...",Spring 2019,Interested,304,ENG TEST,NA,74 %,24 months
62,66,aishwaryacraj,"University of Maryland, College Park Managemen...",Fall 2019,Interested,N.A.,ENG TEST,NA,8.78 CGPA,1 month
63,67,MeghaPN,"University of Maryland, College Park Managemen...",Spring 2019,Interested,303,TOEFL,95,75 %,20 months
64,68,nidhi-badde,"University of Maryland, College Park Managemen...",Fall 2019,Interested,N.A.,ENG TEST,NA,65 %,12 months
65,69,Orpheus4256,"University of Maryland, College Park Managemen...",Fall 2019,Interested,310,TOEFL,106,7.92 CGPA,35 months
66,70,aastha1897,"University of Maryland, College Park Managemen...",Spring 2019,Interested,312,IELTS,7.5,7.9 CGPA,NaN
67,71,Abhiggg,"University of Maryland, College Park Managemen...",Fall 2018,Interested,314,TOEFL,100,8.5 CGPA,15 months
68,72,AdityaBenjamin,"University of Maryland, College Park Managemen...",Spring 2019,Interested,N.A.,ENG TEST,NA,6.75 CGPA,22 months
69,73,ratnamandava,"University of Maryland, College Park Managemen...",Fall 2019,Interested,322,ENG TEST,NA,6.45 CGPA,1 month
70,74,hjkkjg,"University of Maryland, College Park Managemen...",Fall 2019,Interested,318,ENG TEST,NA,8 CGPA,6 months
71,75,SonalPDas,"University of Maryland, College Park Managemen...",Fall 2019,Interested,N.A.,ENG TEST,NA,8.7 CGPA,60 months
72,76,shivani10397,"University of Maryland, College Park Managemen...",Fall 2019,Interested,N.A.,ENG TEST,NA,7.02 CGPA,NaN
73,77,priyabalaji,"University of Maryland, College Park Managemen...",Fall 2019,Interested,N.A.,IELTS,7.5,7.35 CGPA,NaN
74,78,Sujesh,"University of Maryland, College Park Managemen...",Fall 2019,Interested,321,TOEFL,114,7.58 CGPA,38 months
75,79,amloo123,"University of Maryland, College Park Managemen...",Fall 2019,Interested,N.A.,ENG TEST,NA,7.3 CGPA,48 months
76,80,ambitasu1991,"University of Maryland, College Park Managemen...",Spring 2019,Interested,322,ENG TEST,NA,70 %,60 months
77,81,kewalc,"University of Maryland, College Park Managemen...",Fall 2019,Interested,N.A.,ENG TEST,NA,58 %,NaN
78,82,JashKT,"University of Maryland, College Park Managemen...",Fall 2019,Interested,316,ENG TEST,NA,9 CGPA,12 months
79,83,rathodyash,"University of Maryland, College Park Managemen...",Fall 2020,Interested,305,ENG TEST,NA,7.1 CGPA,NaN

# UIC

In [68]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/310-university-of-illinois-at-chicago/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [76]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [77]:
p = p[p.Name != 'Welcome to Yocket']

In [78]:
p.head()

,Name,University,Year,Status,GRE_SCORE,Eng_test,Test_score,Undergrad_score,work_ex
1,Rohan0901,University of Illinois at Chicago Management I...,Spring 2019,Applied,308,TOEFL,92,63.33 %,60 months
2,ShubhamCfc,University of Illinois at Chicago Management I...,Spring 2019,Applied,302,TOEFL,98,73 %,40 months
3,Animesh1990,University of Illinois at Chicago Management I...,Fall 2018,Applied,329,TOEFL,114,7.2 CGPA,51 months
4,harsu,University of Illinois at Chicago Management I...,Fall 2018,Applied,309,TOEFL,93,7.3 CGPA,NA
5,ChaitanyaMag,University of Illinois at Chicago Management I...,Fall 2018,Applied,303,TOEFL,97,7 CGPA,16 months

In [80]:
p.to_csv("Uic1.csv")

In [81]:
pd.read_csv("Uic1.csv")

,Unnamed: 0,Name,University,Year,Status,GRE_SCORE,Eng_test,Test_score,Undergrad_score,work_ex
0,1,Rohan0901,University of Illinois at Chicago Management I...,Spring 2019,Applied,308,TOEFL,92,63.33 %,60 months
1,2,ShubhamCfc,University of Illinois at Chicago Management I...,Spring 2019,Applied,302,TOEFL,98,73 %,40 months
2,3,Animesh1990,University of Illinois at Chicago Management I...,Fall 2018,Applied,329,TOEFL,114,7.2 CGPA,51 months
3,4,harsu,University of Illinois at Chicago Management I...,Fall 2018,Applied,309,TOEFL,93,7.3 CGPA,NaN
4,5,ChaitanyaMag,University of Illinois at Chicago Management I...,Fall 2018,Applied,303,TOEFL,97,7 CGPA,16 months
5,6,Aakash6993,University of Illinois at Chicago Management I...,Fall 2018,Applied,318,TOEFL,102,67 %,32 months
6,7,Tanya13,University of Illinois at Chicago Management I...,Fall 2018,Applied,315,TOEFL,112,8.24 CGPA,1 month
7,8,Kiah-kol,University of Illinois at Chicago Management I...,Fall 2018,Applied,322,TOEFL,107,74.47 %,28 months
8,9,adipareshshah,University of Illinois at Chicago Management I...,Fall 2018,Applied,N.A.,TOEFL,113,73.89 %,60 months
9,10,chaitali922,University of Illinois at Chicago Management I...,Fall 2018,Applied,308,TOEFL,101,7.79 CGPA,16 months
10,11,AnushaShankarPutta,University of Illinois at Chicago Management I...,Spring 2018,Applied,314,TOEFL,99,82 %,55 months
11,12,Sohini014,University of Illinois at Chicago Management I...,Fall 2018,Applied,313,TOEFL,100,65 %,12 months
12,13,nameeta,University of Illinois at Chicago Management I...,Fall 2018,Applied,316,IELTS,8,8.87 CGPA,18 months
13,14,Shweta sathisan,University of Illinois at Chicago Management I...,Fall 2018,Applied,307,TOEFL,107,6.75 CGPA,NaN
14,15,Asg1995,University of Illinois at Chicago Management I...,Fall 2018,Applied,306,TOEFL,96,8.2 CGPA,NaN
15,16,Shravanhiregoudar,University of Illinois at Chicago Management I...,Fall 2018,Applied,301,ENG TEST,NA,8.37 CGPA,NaN
16,17,Kalyani khedkar,University of Illinois at Chicago Management I...,Fall 2018,Applied,302,TOEFL,93,7.79 CGPA,30 months
17,18,aditichawla,University of Illinois at Chicago Management I...,Fall 2018,Applied,304,IELTS,7,79 %,30 months
18,19,Amodoi,University of Illinois at Chicago Management I...,Fall 2018,Applied,307,TOEFL,99,67 %,16 months
19,20,Myra,University of Illinois at Chicago Management I...,Fall 2018,Applied,308,ENG TEST,NA,75 %,24 months
20,22,ashwin123456,University of Illinois at Chicago Management I...,Fall 2018,Admit,304,TOEFL,85,75.4 %,24 months
21,23,nidhisa1989,University of Illinois at Chicago Management I...,Fall 2018,Admit,306,TOEFL,96,73 %,60 months
22,24,Jaiwant,University of Illinois at Chicago Management I...,Fall 2018,Admit,301,TOEFL,93,83.5 %,20 months
23,25,AmbarD,University of Illinois at Chicago Management I...,Fall 2018,Admit,310,IELTS,7,71.19 %,27 months
24,26,pmesh,University of Illinois at Chicago Management I...,Fall 2018,Admit,320,TOEFL,117,59.42 %,30 months
25,27,aditi04upreti,University of Illinois at Chicago Management I...,Fall 2018,Admit,306,TOEFL,104,7.5 CGPA,34 months
26,28,gt,University of Illinois at Chicago Management I...,Fall 2018,Admit,303,TOEFL,99,62.02 %,58 months
27,29,dio,University of Illinois at Chicago Management I...,Fall 2018,Admit,309,TOEFL,94,6.45 CGPA,13 months
28,30,Rajmanya,University of Illinois at Chicago Management I...,Fall 2018,Admit,309,TOEFL,107,5.4 CGPA,NaN
29,31,Aditya-Manmode,University of Illinois at Chicago Management I...,Fall 2018,Admit,304,TOEFL,88,64.36 %,47 months
...,...,...,...,...,...,...,...,...,...,...
50,53,viky94,University of Illinois at Chicago Management I...,Fall 2018,Reject,301,TOEFL,84,7.67 CGPA,50 months
51,54,Aishwarya S,University of Illinois at Chicago Management I...,Fall 2018,Reject,300,TOEFL,88,8.18 CGPA,24 months
52,55,deep3096,University of Illinois at Chicago Management I...,Fall 2018,Reject,301,TOEFL,0,7.13 CGPA,NaN
53,56,Ha008,University of Illinois at Chicago Management I...,Fall 2017,Reject,305,TOEFL,94,6.66 CGPA,2 months
54,57,pawand23,University of Illinois at Chicago Management I...,Spring 2018,Reject,301,TOEFL,89,59.5 %,48 months
55,58,Bhagi,University of Illinois at Chicago Management I...,Spring 2018,Reject,311,TOEFL,98,57 %,NaN
56,59,gaurav2730,University of Illinois at Chicago Management I...,Fall 2018,Reject,304,TOEFL,97,72.06 %,46 months
57,60,pradnyachavan,University of Illinois at Chicago Management I...,Fall 2012,Reject,310,TOEFL,94,54 %,NaN
58,61,neelnath,University of Illinois at Chicago Management I...,Fall 2017,Reject,309,TOEFL,94,54 %,6 months
59,62,arjunmudumbi,University of Illinois at Chicago Management I...,Fall 2017,Reject,309,TOEFL,92,7.7 CGPA,NaN
60,64,akshaya22,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,8.25 CGPA,12 months
61,65,lalit_mohan,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,7.2 CGPA,29 months
62,66,Sree19961996,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,8.1 CGPA,NaN
63,67,praanv,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,7.88 CGPA,1 month
64,68,Arun Bajoji,University of Illinois at Chicago Management I...,Spring 2019,Interested,N.A.,ENG TEST,NA,62 %,NaN
65,69,MeghaPN,University of Illinois at Chicago Management I...,Spring 2019,Interested,303,TOEFL,95,75 %,20 months
66,70,Jigyasa24,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,8.678 CGPA,2 months
67,71,malvikamgm,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,8.5 CGPA,NaN
68,72,pav1993,University of Illinois at Chicago Management I...,Fall 2019,Interested,310,TOEFL,0,8.98 CGPA,35 months
69,73,Naman Rungta,University of Illinois at Chicago Management I...,Spring 2019,Interested,N.A.,ENG TEST,NA,72 %,27 months
70,74,vivekku9944,University of Illinois at Chicago Management I...,Fall 2018,Interested,293,TOEFL,82,55 %,22 months
71,75,menon10,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,65 %,12 months
72,76,ManeeshMettu,University of Illinois at Chicago Management I...,Fall 2019,Interested,315,TOEFL,112,8.3 CGPA,12 months
73,77,SakshiMsUs,University of Illinois at Chicago Management I...,Spring 2018,Interested,304,TOEFL,95,67 %,35 months
74,78,Shreyaschaudhari,University of Illinois at Chicago Management I...,Fall 2019,Interested,N.A.,ENG TEST,NA,6.8 CGPA,1 month
75,79,Nimish18,University of Illinois at Chicago Management I...,Fall 2019,Interested,287,ENG TEST,NA,59.9 %,80 months
76,80,prisias,University of Illinois at Chicago Management I...,Spring 2019,Interested,291,IELTS,7,6.7 CGPA,9 months
77,81,Denzel,University of Illinois at Chicago Management I...,Spring 2019,Interested,322,TOEFL,113,6.8 CGPA,30 months
78,82,anukriti,University of Illinois at Chicago Management I...,Spring 2019,Interested,N.A.,ENG TEST,NA,71 %,NaN
79,83,CSNinja,University of Illinois at Chicago Management I...,Spring 2019,Interested,N.A.,TOEFL,92,80 %,60 months

# CMU

In [86]:
#14-carnegie-mellon-university
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/46196-carnegie-mellon-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [88]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [89]:
p = p[p.Name != 'Welcome to Yocket']

In [90]:
p.head()

,Name,University,Year,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergrad,Undergrad_score,...,12,13,14,15,16,17,18,19,20,21
1,Harshwaghela,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,312,TOEFL,110,UNDERGRAD,9.09 CGPA,...,None,None,None,None,None,None,None,None,None,None
2,darshit1997,Carnegie Mellon University Information Managem...,Fall 2019,Applied,GRE,N.A.,ENG TEST,NA,UNDERGRAD,6.1 CGPA,...,None,None,None,None,None,None,None,None,None,None
3,Triplek,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,311,TOEFL,102,UNDERGRAD,74 %,...,None,None,None,None,None,None,None,None,None,None
4,AnushkaKatyayan,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,320,TOEFL,104,UNDERGRAD,65 %,...,None,None,None,None,None,None,None,None,None,None
5,muktika,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,307,TOEFL,103,UNDERGRAD,8 CGPA,...,None,None,None,None,None,None,None,None,None,None

In [91]:
p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

In [92]:
p.head()

,Name,University,Year,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergrad,Undergrad_score,work_ex
1,Harshwaghela,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,312,TOEFL,110,UNDERGRAD,9.09 CGPA,16 months
2,darshit1997,Carnegie Mellon University Information Managem...,Fall 2019,Applied,GRE,N.A.,ENG TEST,NA,UNDERGRAD,6.1 CGPA,NA
3,Triplek,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,311,TOEFL,102,UNDERGRAD,74 %,85 months
4,AnushkaKatyayan,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,320,TOEFL,104,UNDERGRAD,65 %,60 months
5,muktika,Carnegie Mellon University Information Managem...,Fall 2018,Applied,GRE,307,TOEFL,103,UNDERGRAD,8 CGPA,34 months

In [93]:
columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [94]:
p.to_csv("CMU.csv")

In [97]:
pd.read_csv("CMU.csv")

,Unnamed: 0,Name,University,Year,Status,GRE_SCORE,Eng_test,Test_score,Undergrad_score,work_ex
0,1,Harshwaghela,Carnegie Mellon University Information Managem...,Fall 2018,Applied,312,TOEFL,110,9.09 CGPA,16 months
1,2,darshit1997,Carnegie Mellon University Information Managem...,Fall 2019,Applied,N.A.,ENG TEST,NA,6.1 CGPA,NaN
2,3,Triplek,Carnegie Mellon University Information Managem...,Fall 2018,Applied,311,TOEFL,102,74 %,85 months
3,4,AnushkaKatyayan,Carnegie Mellon University Information Managem...,Fall 2018,Applied,320,TOEFL,104,65 %,60 months
4,5,muktika,Carnegie Mellon University Information Managem...,Fall 2018,Applied,307,TOEFL,103,8 CGPA,34 months
5,6,Shruti085,Carnegie Mellon University Information Managem...,Fall 2018,Applied,324,TOEFL,113,78.04 %,5 months
6,7,Rashika510,Carnegie Mellon University Information Managem...,Fall 2018,Applied,315,ENG TEST,NA,80 %,NaN
7,8,frey_b,Carnegie Mellon University Information Managem...,Fall 2018,Applied,300,TOEFL,103,9 CGPA,30 months
8,9,Kherdekar,Carnegie Mellon University Information Managem...,Fall 2018,Applied,324,TOEFL,110,63.58 %,16 months
9,10,Sai Subhasree,Carnegie Mellon University Information Managem...,Fall 2018,Applied,319,TOEFL,111,9.6 CGPA,6 months
10,11,Adityakh5,Carnegie Mellon University Information Managem...,Fall 2018,Applied,318,IELTS,7.5,72 %,60 months
11,12,Ash33,Carnegie Mellon University Information Managem...,Fall 2017,Applied,325,TOEFL,109,63.65 %,17 months
12,13,DarshG,Carnegie Mellon University Information Managem...,Fall 2018,Applied,315,TOEFL,101,9.81 CGPA,NaN
13,14,brucewayne1996,Carnegie Mellon University Information Managem...,Fall 2018,Applied,322,TOEFL,116,8.1 CGPA,6 months
14,15,Abhi2612,Carnegie Mellon University Information Managem...,Fall 2017,Applied,306,TOEFL,93,73 %,NaN
15,16,MayureshRM,Carnegie Mellon University Information Managem...,Fall 2018,Applied,318,TOEFL,0,73.5 %,33 months
16,17,divsin12,Carnegie Mellon University Information Managem...,Fall 2018,Applied,296,TOEFL,91,72 %,20 months
17,18,SnehaB,Carnegie Mellon University Information Managem...,Fall 2018,Applied,312,TOEFL,98,77.8 %,31 months
18,19,sarjai91,Carnegie Mellon University Information Managem...,Fall 2018,Applied,N.A.,ENG TEST,NA,85 %,28 months
19,20,supritag,Carnegie Mellon University Information Managem...,Fall 2018,Applied,321,TOEFL,0,88 %,NaN
20,22,MicroChip,Carnegie Mellon University Information Managem...,Fall 2018,Admit,308,TOEFL,102,7.48 CGPA,15 months
21,23,ratnesh,Carnegie Mellon University Information Managem...,Fall 2018,Admit,315,TOEFL,108,83.3 %,8 months
22,24,akanksha1811,Carnegie Mellon University Information Managem...,Fall 2018,Admit,321,TOEFL,109,83 %,18 months
23,25,hrgupta,Carnegie Mellon University Information Managem...,Fall 2018,Admit,310,TOEFL,107,7.39 CGPA,14 months
24,26,Debalinainferno,Carnegie Mellon University Information Managem...,Spring 2018,Admit,315,TOEFL,109,85.4 %,6 months
25,27,mihir0412,Carnegie Mellon University Information Managem...,Fall 2018,Admit,315,TOEFL,110,8.6 CGPA,3 months
26,28,Harishb,Carnegie Mellon University Information Managem...,Fall 2018,Admit,329,TOEFL,0,75 %,144 months
27,29,aknksgha,Carnegie Mellon University Information Managem...,Fall 2018,Admit,316,IELTS,8,75 %,44 months
28,30,puntuk,Carnegie Mellon University Information Managem...,Fall 2018,Admit,316,TOEFL,104,8.55 CGPA,60 months
29,31,rona2394,Carnegie Mellon University Information Managem...,Fall 2018,Admit,317,TOEFL,0,8.57 CGPA,16 months
...,...,...,...,...,...,...,...,...,...,...
50,53,rajsoni,Carnegie Mellon University Information Managem...,Fall 2018,Reject,293,TOEFL,101,8.72 CGPA,20 months
51,54,Himanshu5393,Carnegie Mellon University Information Managem...,Fall 2018,Reject,321,TOEFL,108,63.22 %,21 months
52,55,Pavan1996,Carnegie Mellon University Information Managem...,Fall 2018,Reject,318,TOEFL,109,6.75 CGPA,13 months
53,56,ALI52,Carnegie Mellon University Information Managem...,Fall 2018,Reject,309,TOEFL,0,6.03 CGPA,28 months
54,57,RoshniDas,Carnegie Mellon University Information Managem...,Fall 2018,Reject,314,IELTS,8,77.2 %,20 months
55,58,manish1352,Carnegie Mellon University Information Managem...,Fall 2018,Reject,330,TOEFL,107,9.23 CGPA,15 months
56,59,Rishabhpanwar05,Carnegie Mellon University Information Managem...,Fall 2018,Reject,329,TOEFL,110,7.4 CGPA,4 months
57,60,GauravDharra,Carnegie Mellon University Information Managem...,Fall 2018,Reject,313,ENG TEST,NA,75 %,38 months
58,61,pavankumarp1990,Carnegie Mellon University Information Managem...,Fall 2018,Reject,317,TOEFL,106,73.4 %,82 months
59,62,sahiltandon,Carnegie Mellon University Information Managem...,Fall 2018,Reject,320,TOEFL,110,6.2 CGPA,40 months
60,64,aishwaryacraj,Carnegie Mellon University Information Managem...,Fall 2019,Interested,N.A.,ENG TEST,NA,8.78 CGPA,1 month
61,65,RohitGund,Carnegie Mellon University Information Managem...,Fall 2019,Interested,N.A.,ENG TEST,NA,64.98 %,NaN
62,66,RishG,Carnegie Mellon University Information Managem...,Fall 2019,Interested,313,ENG TEST,NA,79.8 %,134 months
63,67,vivek saroj,Carnegie Mellon University Information Managem...,Fall 2020,Interested,N.A.,ENG TEST,NA,9.002 CGPA,NaN
64,68,reddevils9492CSNinja,Carnegie Mellon University Information Managem...,Fall 2019,Interested,319,TOEFL,104,75 %,36 months
65,69,shashi284,Carnegie Mellon University Information Managem...,Fall 2016,Interested,315,TOEFL,104,8.54 CGPA,30 months
66,70,Urjasvit,Carnegie Mellon University Information Managem...,Fall 2018,Interested,N.A.,ENG TEST,NA,7.7 CGPA,2 months
67,71,SB93,Carnegie Mellon University Information Managem...,Spring 2018,Interested,326,TOEFL,105,5.8 CGPA,28 months
68,72,ratnamandava,Carnegie Mellon University Information Managem...,Fall 2019,Interested,322,ENG TEST,NA,6.45 CGPA,1 month
69,73,swapswap,Carnegie Mellon University Information Managem...,Fall 2018,Interested,323,TOEFL,116,8.38 CGPA,4 months
70,74,sowmyan88,Carnegie Mellon University Information Managem...,Spring 2019,Interested,310,IELTS,7.5,9.5 CGPA,24 months
71,75,hjkkjg,Carnegie Mellon University Information Managem...,Fall 2019,Interested,318,ENG TEST,NA,8 CGPA,6 months
72,76,lakshmipr1994,Carnegie Mellon University Information Managem...,Fall 2019,Interested,N.A.,ENG TEST,NA,8.3 CGPA,24 months
73,77,SonalPDas,Carnegie Mellon University Information Managem...,Fall 2019,Interested,N.A.,ENG TEST,NA,8.7 CGPA,60 months
74,78,priyabalaji,Carnegie Mellon University Information Managem...,Fall 2019,Interested,N.A.,IELTS,7.5,7.35 CGPA,NaN
75,79,kratikasainferno,Carnegie Mellon University Information Managem...,Spring 2019,Interested,306,TOEFL,102,65 %,26 months
76,80,Sujesh,Carnegie Mellon University Information Managem...,Fall 2019,Interested,321,TOEFL,114,7.58 CGPA,38 months
77,81,khushboo397,Carnegie Mellon University Information Managem...,Fall 2019,Interested,331,ENG TEST,NA,7.54 CGPA,NaN
78,82,ambitasu1991,Carnegie Mellon University Information Managem...,Spring 2019,Interested,322,ENG TEST,NA,70 %,60 months
79,83,JashKT,Carnegie Mellon University Information Managem...,Fall 2019,Interested,316,ENG TEST,NA,9 CGPA,12 months

# CMU 2

In [98]:
#14-carnegie-mellon-university
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/14-carnegie-mellon-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [99]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [100]:
p = p[p.Name != 'Welcome to Yocket']

In [101]:
p.head()

,Name,University,Year,Status,GRE,GRE_SCORE,Eng_test,Test_score,Undergrad,Undergrad_score,...,12,13,14,15,16,17,18,19,20,21
1,GauravDharra,Carnegie Mellon University Information Systems,Fall 2018,Applied,GRE,313,ENG TEST,NA,UNDERGRAD,75 %,...,None,None,None,None,None,None,None,None,None,None
2,santyssk,Carnegie Mellon University Information Systems,Fall 2018,Applied,GRE,318,TOEFL,97,UNDERGRAD,8.15 CGPA,...,None,None,None,None,None,None,None,None,None,None
3,Asmita10,Carnegie Mellon University Information Systems,Fall 2018,Applied,GRE,312,TOEFL,110,UNDERGRAD,7.62 CGPA,...,None,None,None,None,None,None,None,None,None,None
4,Varuntan,Carnegie Mellon University Information Systems,Fall 2018,Applied,GRE,308,TOEFL,98,UNDERGRAD,65 %,...,None,None,None,None,None,None,None,None,None,None
5,SukritG,Carnegie Mellon University Information Systems,Fall 2018,Applied,GRE,313,TOEFL,111,UNDERGRAD,8.5 CGPA,...,None,None,None,None,None,None,None,None,None,None

In [102]:
p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

In [103]:
columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [104]:
p.to_csv("CMU2.csv")

# U Wash

In [105]:

temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/46121-university-of-washington/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [106]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [107]:
p = p[p.Name != 'Welcome to Yocket']

In [108]:
p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

In [109]:
columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [110]:
p.to_csv("UWash.csv")

# U WASH 2 (IM)

In [111]:

temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/46140-university-of-washington/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [112]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [113]:
p = p[p.Name != 'Welcome to Yocket']

In [114]:
p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

In [115]:
columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [116]:
p.to_csv("Uwash2.csv")

# TAMU MIS

In [117]:

temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/49-texas-a-and-m-university-college-station/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [118]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [119]:
p = p[p.Name != 'Welcome to Yocket']

In [120]:
p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

In [121]:
columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [122]:
p.to_csv("TAMU.csv")

# Kelley -Indiana MIS

In [123]:

temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/368-indiana-university-bloomington/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [124]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

In [125]:

p = p[p.Name != 'Welcome to Yocket']

In [126]:

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

In [127]:
columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [129]:
p.to_csv("kelley.csv")

# U CINN MIS

In [130]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/158-university-of-cincinnati/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [131]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

In [132]:
p.to_csv("UCinn.csv")

# UTD ITM

In [134]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/26891-university-of-texas-dallas/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [135]:


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UTD.csv")

# NEU MIS

In [136]:

temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/913-northeastern-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)

In [137]:
p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("NEU.csv")

# Eller mis

In [139]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/26239-university-of-arizona/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Eller.csv")

# Rutgers Mis

In [4]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/1417-rutgers-university-new-brunswick/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Rutgers1.csv")

# Rutgers newark

In [5]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/358-rutgers-university-newark/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Rutgers2.csv")

# minnesota Twin cities

In [6]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/423-university-of-minnesota-twin-cities/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("minnesota.csv")

# georgia state uni

In [ ]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/545-georgia-state-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Rutgers2.csv")

In [ ]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/358-rutgers-university-newark/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Rutgers2.csv")

In [7]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/358-rutgers-university-newark/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("gsu.csv")

# worcester

In [8]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/816-worcester-polytechnic-institute/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("wpi.csv")

# rensselaer-polytechnic-institute

In [9]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/461-rensselaer-polytechnic-institute/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("RPI.csv")

In [ ]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/358-rutgers-university-newark/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Rutgers2.csv")

# Boston

In [10]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/6-boston-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("BU.csv")

# UC Irvine

In [13]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/1043-university-of-california-irvine/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UCI.csv")

# Suny B

In [20]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/128-state-university-of-new-york-at-buffalo/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("SunyB.csv")

# northwestern

In [21]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/318-northwestern-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("northwestern.csv")

# ASU

In [22]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/253-arizona-state-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("asu.csv")

# U florida

In [23]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/77-university-of-florida/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Uflorida.csv")

# UNCC

In [24]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/363-university-of-north-carolina-at-charlotte/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Uncc.csv")

# Stevens

In [25]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/1451-stevens-institute-of-technology/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Stevens.csv")

# U Iowa

In [26]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/1249-university-of-iowa/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UIowa.csv")

# RIT

In [27]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/179-rochester-institute-of-technology/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("RIT.csv")

# ut Arlington

In [28]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/349-university-of-texas-arlington/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UT_arlington.csv")

# santa clara

In [29]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/622-santa-clara-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("SantaClara.csv")

# ITT

In [30]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/414-illinois-institute-of-technology/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("IIT.csv")

# university-of-delaware

In [31]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/402-university-of-delaware/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("delaware.csv")

# university-of-utah

In [32]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/26240-university-of-utah/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UUtah.csv")

# drexel-university

In [33]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/1272-drexel-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("drexel.csv")

# university-of-texas-austin

In [34]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/104-university-of-texas-austin/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UT_Austin.csv")

# new-york-university

In [2]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/589-new-york-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("NYU.csv")

# pennsylvania-state-university

In [3]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/1063-pennsylvania-state-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Penn_State.csv")

# university-of-pennsylvania

In [4]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/278-university-of-pennsylvania/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UPenn.csv")

# iowa-state-university

In [5]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/326-iowa-state-university/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("Iowa_State.csv")

# university-of-california-los-angeles

In [6]:
temp=[]


for i in range(1,20):
    page = requests.get("https://yocket.in/applications-admits-rejects/57-university-of-california-los-angeles/{}".format(i))

    soup = BeautifulSoup(page.content, 'html.parser')



    name_containers = soup.find_all('div', class_ = 'col-sm-6')
    for i in name_containers:
        k =(i.div.text)
        t=[i for i in k.strip().split("\n") if len(i) is not 0]
        temp.append(t)



p= pd.DataFrame(temp)


p.rename(columns={0: 'Name', 'newName2': 'University', 1: 'University', 2: 'Year', 3: 'Status',4: 'GRE',5: 'GRE_SCORE',6: 'Eng_test',7:'Test_score',8: 'Undergrad',9: 'Undergrad_score',11: 'work_ex'}, inplace=True)

p = p[p.Name != 'Welcome to Yocket']

p=p.drop([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ], axis=1)

columns = ['GRE', 'Undergrad']
p.drop(columns, inplace=True, axis=1)

p.to_csv("UCLA.csv")